form {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: orange;
}

h2 {
  margin: 0;
}

.colorPicker {
  width: 120px;
  height: 40px;
}

.colorTextInput {
  text-align: center;
  width: 140px;
  padding: 5px;
  border-radius: 5px;
  border: unset;
  font-weight: bold;
  font-size: larger;
}

.addColorButton {
  padding: 5px 20px;
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.655);
  border-radius: 5px;
}

.addColorButton:hover {
  cursor: pointer;
}
