.color-container__card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: unset;
}

.color-container__card:hover {
    cursor: pointer;
}

.colorText-input {
    background-color: rgba(255, 255, 255, 0.602);
    padding: 20px;
    text-align: center;
    border: unset;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

.colorText-input:hover {
    cursor: text;
}

.colorText-input:active {
    background-color: rgba(255, 255, 255, 0.949);
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    color: black;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
    font-size: medium;
}

.delete-button:hover {
    cursor: pointer;
}